div {
    display: block;
    unicode-bidi: isolate;
}

button {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

body, input, textarea, select, button, table {
    font-size: 1.4rem;
    line-height: 1.7rem;
}

input, button {
    border-radius: 0;
    border: 0;
}

body, input, textarea, select, button, table {
    color: #101010;
    color: var(--color_body);
    font-size: 12px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-weight: 500;
    letter-spacing: -0.4px;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    unicode-bidi: isolate;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}


#header {
    width: 1280px;
    margin: 0 auto;
}

#header .header_inner {
    z-index: 120;
    position: relative;
    height: 156px;
    padding: 52px 0 8px;
}



#header .header_inner .search_special_bg {
    /* .header_inner(상위요소)에게 relative를 줬기때문에, .header_inner를 기준으로 배치됨 */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -10;
    overflow: hidden;
    height: 215px;
}

#header .header_inner .menu_area {
    position: absolute;
    top: 5px;
    left: -12px;
    width: 48px;
}

#header .header_inner .pay_area {
    position: absolute;
    top: 5px;
    left: 41px;
}

#header .header_inner .talk_area {
    position: absolute;
    top: 5px;
    right: 94px;
    width: 48px;
}

#header .header_inner .notify_area {
    position: absolute;
    top: 5px;
    right: 42px;
    width: 48px;
}

#header .header_inner .shopping_area {
    position: absolute;
    top: 5px;
    right: -10px;
}

#header .header_inner .search_area {
    position: absolute;
    top: 52px;
    left: 50%;
    z-index: 10;
    width: 706px;
    border: 1px solid #03c75a;
    border-radius: 33px;
    background-color: #fff;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* -------- search_group_inner 내부 요소들 --------- */
#header .header_inner .search_group_inner {
    position: relative;
    padding-left: 67px;
}

#header .header_inner .shopping_area [aria-expanded=true].link_shopping::before, #header .header_inner .notify_area [aria-expanded=true].btn_notify::before, #header .header_inner .talk_area [aria-expanded=true].btn_talk::before, #header .header_inner .pay_area [aria-expanded=true].link_pay::before, #header .header_inner .menu_area [aria-expanded=true].btn_menu::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 48px;
    margin: auto;
    border-radius: 50%;
    background-color: #e7eced;
}

#header .header_inner .search_logo {
    position: absolute;
    top: 0;
    left: 0;
}

#header .header_inner .search_box {
    position: absolute;
    top: 0;
    right: 61px;
    bottom: 0;
    z-index: 210;
    width: 56px;
}

/* 접근성 */
/* 검색창 - 자동완성, 최근검색어 펼치기 등등 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header .header_inner .search_box button[class^=btn_] {
    cursor: pointer;
}

#header .header_inner .search_box .btn_keyboard {
    overflow: visible;
    position: relative;
    padding: 22px 3px;
}

#header .header_inner .search_box .btn_keyboard::before {
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-position: -240px -270px;
    background-repeat: no-repeat;
    width: 24px;
    height: 14px;
}

#header .header_inner .search_box .btn_arrow {
    position: absolute;
    top: 0;
    right: 1px;
    padding: 26px 6px;
}
#header .header_inner .search_box .btn_arrow::before {
    content: "";
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-position: -123px -98px;
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
}



