* {
    margin: 0;
    padding: 0;
}

.header {
    width: 1440px;
    height: 100px;
    background-color: #E4D3FA;
    position: relative;
}

.logo {
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 30px;
    font-weight: 700;
}


/* header.php - menu */
.menu {
    position: absolute;
    right: 20px;
    bottom: 0;
}
.menu>button {
    width: 200px;
    height: 60px;
    background-color: white;
    border: none;
    font-size: 30px;
}
.menu>button:hover{
    /* border-color: orange;
    color: #000;
    box-shadow: 0 0.5em 0.5em -0.4em yellow;
    transform: translateY(-10px); */
    cursor: pointer;
}



.main {
    width: 1000px;
    /* height: 100%; */
    margin: 50px 210px;
}

.main>table {
    width: 1000px;
    height: 500px;
    background-color: #F5F1FB;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-collapse: collapse;
    margin: 0;
}

td {
    text-align: center;
}

td:nth-child(2) {
    width: 500px;
}

tr:nth-child(1) {
    border-bottom: #5a5a5a 1px solid;
}

.pagebtn {
    width: 40%;
    text-align: center;
    margin: 50px auto;
}

.pagebtn>a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    padding: 0 10px;
}

.pagebtn>a:hover {
    text-decoration: underline;
}





/* detail.php */
.d_container {
    width: 1000px;
    height: 60%;
    background-color: #F5F1FB;
    border: none;
    border-collapse: collapse;
    margin: 0;
    overflow: auto;
}

.d_header {
    /* background-color: #0AC9FF; */
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    padding: 20px 30px;
}
.d_header span {
    padding-right: 20px;
}

.d_line {
    color: #dbdbdb;
}

.d_create_at {
    /* background-color: #76f45d; */
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    text-align: right;
    padding: 10px;
}
.d_create_at span {
    padding: 0 30px;
}

.d_main {
    background-color: #ffffff;
    width: 900px;
    height: 50%;
    min-height: 300px;
    margin: 5%;
}

.d_content {
    padding: 20px;
}

.go_listbtn {
    background-color: #E4D3FA;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    margin: 30px 0;
}


/* footer.php - footer */
.footer {
    width: 1440px;
}
.footerline {
    border-bottom: #5a5a5a 1px solid;
}
.introduction {
    text-align: center;
    margin: 40px 0;
}